.select-container {
  position: relative;
  cursor: pointer;
  min-width: 93px;
}

.custom-select {
  display: flex;
  align-items: center;
  height: 38px;
  background-color: var(--purple);
  border-radius: 4px;
  color: #f0f0f0;
  font-size: 18px;
}
.value-container {
  height: 30px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px 0 10px;
}

.custom-select img {
  width: 11px;
  height: auto;
  margin-right: 10px;
}

.select-options {
  position: absolute;
  left: 0;
  width: 93px;
  height: 98px;
  border: 1px solid var(--lightest-grey);
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 4px;
  z-index: 10;
}

.select-options div {
  padding: 4px 20px;
  color: var(--light-grey);
  border-bottom: 1px solid var(--lightest-grey);
}

.select-options div:last-child {
  border-bottom: none;
}

.select-options div:hover {
  background-color: #f0f0f0;
  color: var(--purple);
}
.custom-select:hover {
  background-color: var(--purple-hover);
}

@media (max-width: 768px) {
  .custom-select {
    font-size: 16px;
  }
}
