:root {
  --text: #303030;
  --purple: #534cc2;
  --grey: #666666;
  --light-grey: #c3c1e5;
  --lightest-grey: #d1d1d1;
  --halfFiledblack: #25252579;
  --backgroundLight: #e5e1ea;
  --backgroundDark: #0e0219;
  --white: #ffffff;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  background: var(--backgroundLight);
  color: var(--text);
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
