:root {
  --text: #303030;
  --purple: #8e64d7;
  --purple-hover: #745ebc;
  --light-purple: #d9c3f0;
  --grey: #666666;
  --light-grey: #b7b0c2;
  --lightest-grey: #e3e0e0;
  --halfFiledblack: #25252579;
  --backgroundLight: #f2f0fe;
  --backgroundDark: #0e0219;
  --white: #ffffff;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  background: var(--backgroundLight);
  color: var(--text);
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
