:root {
  --text-light: #303030;
  --text-dark: #dedae2;
  --purple: rgb(142, 100, 215);
  --purple-hover: #745ebc;
  --light-purple: #d9c3f0;
  --grey: #666666;
  --light-grey: #b7b0c2;
  --lightest-grey: #e3e0e0;
  --halfFiledblack: #25252579;
  --backgroundLight: #f2f0fe;
  --backgroundDark: #252525;
  --white: #ffffff;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
