html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
}
.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100vh;
  position: relative;
}

.head {
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 18px;
  line-height: 39px;
  margin-top: 40px;
}

.addButton {
  position: fixed;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.empty img {
  width: 270px;
  height: auto;
}

.empty h2 {
  font-size: 22px;
  text-transform: capitalize;
}
@media (max-width: 992px) {
  .contentWrapper {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .contentWrapper {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .contentWrapper {
    width: 75%;
  }

  .head {
    font-size: 22px;
    line-height: 32px;
  }
}
